/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f4f4db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
}

li.completed {
    text-decoration: line-through;
    color: #0b0606;
}

li button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #a51624;
}

li button:hover {
    color: #dc3545;
}

.completed{
    background-color: #989898;
}
